* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url(images/project5.webp)no-repeat no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.add-task-container {
    max-width: 75%;
    background: white;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 0 3px;
    display: flex;
    margin-bottom: 20px;

}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 5px;
}

.add-task {
    flex: 1;
    font-size: 1.2rem;
    padding: 4px;
    transition: .3sec;
    background-color: white;
    color: green;
    border-radius: 10px;
    border: 2px solid green;
}

.add-task:hover {
    background-color: green;
    color: white;
}

/*styling for tasks which get added to the todo list*/

.task {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: white;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.5rem;
}

.task .checkTask:hover {
    background-color: orange;
    color: white;
}

.task .deleteTask {
    color: red;
    border: 2px solid red;
    font-size: 1.3rem;
}

.task .deleteTask:hover {
    background-color: red;
    color: white;
}

